<div class="navbar" role="navigation">
  <nav class="menu">
    <input type="checkbox" id="menu-trigger" class="menu-trigger" />
    <label for="menu-trigger">
      <span class="menu-icon">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 512 512"
        >
          <path
            d="M64,384H448V341.33H64Zm0-106.67H448V234.67H64ZM64,128v42.67H448V128Z"
          />
        </svg>
      </span>
    </label>
<!--     <a id="logo">
      <svg version="1.1" id="Livello_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 595.28 841.89" style="enable-background:new 0 0 595.28 841.89;" xml:space="preserve">
<style type="text/css">
	.st0{fill:none;stroke:#000000;stroke-width:5;stroke-miterlimit:10;}
</style>
<g>
	<polygon class="st0" points="215.34,301.53 215.28,348.17 297.78,409.09 379.99,349.11 379.99,301.53 370.11,301.53 369.92,343.6 
		297.78,396.22 225.55,343.6 225.17,301.53 	"/>
	<path class="st0" d="M239.97,369.67c0,7.98,0,15.96,0,23.95l28.3,21.09l6.8-7.89l-24.9-18.37c0-3.9,0-7.8,0-11.7
		C246.77,374.39,243.37,372.03,239.97,369.67z"/>
	<path class="st0" d="M220.75,370.35"/>
	<path class="st0" d="M355.99,370.35c0,7.98,0,15.96,0,23.95l-28.3,21.09l-6.8-7.89l24.9-18.37c0-3.9,0-7.8,0-11.7
		C349.18,375.07,352.58,372.71,355.99,370.35z"/>
	<polygon class="st0" points="240.09,270.11 240.09,341.36 250.39,348.88 250.39,289.56 297.64,324.7 345.5,289.72 345.5,348.88 
		355.99,341.36 355.99,270.11 297.64,312.11 	"/>
	<path class="st0" d="M272.27,284.58"/>
	<polygon class="st0" points="298.04,264.72 323.82,284.58 315.48,290.01 298.04,278.28 280.39,290.01 272.27,284.58 	"/>
	<path class="st0" d="M263.85,302.8c0,19.35,0,38.7,0,58.05l10.24,6.54c0-18.96,0-37.93,0-56.89
		C270.67,307.93,267.26,305.36,263.85,302.8z"/>
	<path class="st0" d="M332.01,302.8c0,19.35,0,38.7,0,58.05l-10.24,6.54c0-18.96,0-37.93,0-56.89
		C325.18,307.93,328.6,305.36,332.01,302.8z"/>
</g>
</svg>

    </a> -->
    <div class="trigger">
      <div class="trigger-container">
        {%- assign url = page.url -%} {%- assign menus = site.data.menus -%} {%-
        if menus %} {%- for menu in menus -%} {%- if url == menu.url -%}
        <a class="menu-link active" href="{{ menu.url }}">{{ menu.title }}</a>
        {%- else -%} {%- if menu.external -%}
        <a
          class="menu-link"
          href="{{ menu.url }}"
          target="_blank"
          rel="noopener"
          >{{ menu.title }}</a
        >
        {%- else -%}
        <a class="menu-link" href="{{ menu.url }}">{{ menu.title }}</a>
        {%- endif -%} {%- endif -%} {%- endfor -%} {%- else -%}
        <a class="menu-link {% if url == '/' %}active{% endif %}" href="/"
          >home</a
        >
        {%- endif -%}
      </div>
    </div>
  </nav>
</div>
