// Header
$method-max-width: 550px;

.header {
    margin-top: 6.3rem;
    margin-bottom: 1rem;
    text-align: center;

    @include media-query($on-mobile) {
        margin-bottom: 3em;
    }

    .header-avatar {
        width: 100px;
        height: 100px;
        border-radius: 100%;
        user-select: none;
        background-color: $dark-white;
        -ms-user-select: none;
        -webkit-user-select: none;
        -webkit-animation: 0.5s ease-in forwards fadein;
        animation: 0.5s ease-in forwards fadein;
        opacity: 1;
    }

    .header-name {
        font-size: 1.5em;
        margin-bottom: 2px;
        font-weight: $normal-weight;
        text-align: left;

        @include media-query($on-mobile) {
            font-size: 1.4em
        }

        h1 {
            font-size: 1.5em;
            display: inline;

            @include media-query($on-mobile) {
                font-size: 1.4em
            }
        }
    }

    .header-method-content {
        max-width: $method-max-width - 10px;
        margin: auto;
        text-align: left;
    }

    .header-bio {
        margin: 20px auto 0 auto;
        opacity: 0.9;
        max-width: 550px;
        min-height: 135px;
        line-height: 1.688;

        @include media-query($on-mobile) {
            min-height: 165px;
        }

        .input-cursor {
            animation: blink .6s linear infinite alternate;
            display: inline-block;
            width: 2px;
            height: $medium-font-size;
            background-color: white;
            margin: 0 0 -2px -5px
        }
    }

    .header-action {
        text-align: left;
    }

    a {
        color: $dark-text-link-blue;
        text-decoration: none;

        &:hover,
        &:focus,
        &:active {
            color: $dark-text-link-blue-active;
        }
    }

    a.social_item {
        display: inline;
        padding: 0 $spacing-half;
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        opacity: 0.7;

        &:hover {
            cursor: pointer;
            opacity: 1;
        }

        &:active {
            -webkit-transform: scale(0.9, 0.9);
            transform: scale(0.9, 0.9);
        }

        svg {
            path {
                stroke: $dark-white;
                fill: $dark-white;
            }
        }
    }

}